body {
  font-family: 'Rubik', sans-serif;
  background-color:burlywood;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}


header {
  background-color: cadetblue;
  color: #36393b;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  border: 10px solid #36393b;
  margin-bottom: 50px;
}

div {
  background-color:burlywood;
}